header {
  position: sticky;
  top: 0;
  width: 100%;
  left: 0px;
  right: 100px;
  display: flex;
  flex-direction: row;
  z-index: 999;
  background-color: #fff;
  height: 94px;
}

header .container {
  flex-direction: row;
  align-items: center;
}

header a {
  color: #101828;
  font-size: 16px;
  line-height: 24px;
}

header .highlighted {
  display: flex;
  width: fit-content;
  border: 3px solid rgba(127, 86, 217, 0.2);
  border-radius: 8px;
  overflow: hidden;
  position: sticky;
}

header .highlighted a {
  background-color: #f2994a;
  color: #fff;
  padding: 8px 15px;
}

div .highlighted a {
  background-color: #f2994a;
  color: #fff;
  padding: 8px 15px;
}

div a {
  color: #101828;
  font-size: 16px;
  line-height: 24px;
}

header a.sign-in-link {
  margin: 0 20px 0 auto;
}

.tutority {
  width: 103px;
  margin: 0 40px 0 0;
  margin-right: 75px;
  left: 200px;
  bottom: 500px;
}

header .general-links {
  margin-right: 75px;
  position: sticky;
  left: 200px;
  bottom: 500px;
}

header .general-links a {
  margin-right: 25px;
}

header .general-links a:last-child {
  margin-right: 0;
}

header nav {
  width: 100%;
}

header,
header .general-links,
header nav,
.collaborators,
.collaborators .company-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home {
  width: 48px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #f2994a;
  flex: none;
  order: 0;
  flex-grow: o;
}

.others {
  width: 56px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #828282;
  flex: none;
  order: 1;
  flex-grow: 0;
}
