* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.banner-overlay {
  background: url("/images/banner-bg.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner .banner-left {
  max-width: 686px;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
}

.banner .banner-right {
  position: relative;
}

.banner .banner-right .image {
  position: relative;
  z-index: 2;
}

.container {
  margin: 0 auto;
  width: 1400px;
  display: flex;
  flex-direction: column;
}

b {
  color: #f2994a;
  font-size: 50px;
  text-align: left;
}

.text {
  font-family: "Bebas Neue";
}

p {
  margin: 0;
  color: #828282;
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.625263px;
  height: 90px;
  width: 350px;
}

.success-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
